.CustomTabs {
    background-color: #1BD15D;
    width: fit-content;
    padding: 0px 15px;
    border-radius: 20px;
    margin: 25px;
    .MuiButtonBase-root {
        color: rgba(255, 255, 255, 0.6);
        &.Mui-selected {
            color: white !important;
        }
    }
}