.AppointmentPage {}

.DatePicker {
    .Mui-selected {
        background-color: #1BD15D !important;
    }
}

.AppointmentDate {
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
    .Cell-today-27 {
        background-color: #1BD15D !important;
    }
}