.Copy {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem;
    border: 4px dashed rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    width: 100%;
    &:hover {
        cursor: pointer;
    }
}