.AddClientPage {
    height: 100%;
    box-sizing: border-box;
    .AddClient-header {
        h1 {
            margin: 25px;
            text-align: left;
        }
    }
    .AddClient-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .AddClient-button {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 14px;
        height: 60px;
        padding: 0 4rem;
        border: none;
        background-color: #1BD15D;
        color: white;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
        &:hover {
            background-color: #0cbf4e;
            color: white;
            cursor: pointer;
        }
        &.loading {
            padding: 0;
            max-width: 60px;
            height: 60px;
            &:hover {
                background-color: #1BD15D;
                color: white;
                cursor: auto;
            }
        }
    }
}