.MyToolTip {
    padding: 20px;
    box-sizing: border-box;
    .appointment__status {
        font-size: 18px;
        font-weight: bold;
    }
}

.MyAppointment {
    color: #fff;
    font-weight: 700;
}